.container-xl {
  min-height: 75vh;
  margin-top: 160px;
}
.sizeImg {
  width: 30px;
  margin-left: 20px;
}
.sizeImg p {
  margin-left: 5px;
  padding-top: 14px;
  font-size: 16px;
}
.button-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

.button-container {
  width: 100%;
}
.sizeBtn {
  font-size: 20px;
  width: 100%;
  padding: 10px;
  border: 1px solid #000;
  background-color: #fff;
  cursor: pointer;
}
button.selected {
  background-color: #3fd296;
  color: white;
}
button:disabled {
  cursor: not-allowed;
}
button.unavailable {
  background-color: #f0f0f0;
  color: #999;
  cursor: not-allowed;
}

.buyBtn {
  color: white;
  font-size: 20px;
  width: 40%;
  padding: 10px;
  border-radius: 0;
  background-color: #3fd296;
  cursor: pointer;
}
.buyBtn img {
  margin-left: 10px;
  height: auto;
  width: 18%;
  transition: 1s;
}
.buyBtn:hover img {
  margin-left: 18px;
}

.priceFont {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
}
.sizeSelect {
  width: 100px;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 25px;
}

@media (max-width: 870px) {
  .buyBtn {
    font-size: 16px;
    width: 45%;
  }
}
@media (max-width: 800px) {
  .carousel span {
    margin-bottom: 130px;
  }
  .buyBtn {
    font-size: 16px;
    width: 45%;
  }
  .button-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 670px) {
  .carousel span {
    margin-bottom: 180px;
  }
  .buyBtn {
    width: 60%;
  }
  .button-grid {
    gap: 5px;
  }
  .sizeBtn {
    font-size: 15px;
  }
}

@media (max-width: 515px) {
  .sizeBtn {
    padding: 5px;
  }
  .carousel span {
    margin-bottom: 260px;
  }
  .priceFont {
    font-size: 17px;
  }
  .subPrice {
    font-size: 13px;
  }
  .h3 {
    font-size: 18px;
  }
  .button-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .buyBtn {
    width: 80%;
  }
  .sizeImg {
    width: 25px;
  }
  .sizeImg p {
    font-size: 12px;
  }
}

@media (max-width: 401px) {
  .buyBtn {
    width: 100%;
  }

  .container-xl {
    min-height: 75vh;
  }
  .h3 {
    font-size: 14px;
  }
  .sizeSelect {
    width: 70px;
    font-size: 10px;
  }
}
