.container-xl {
  margin-top: 150px;
  min-height: 75vh;
}
.font {
  font-size: 22px;
}
.trashIcon {
  width: 35px;
  margin-bottom: 20px;
}
.nameContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.buyBtn {
  color: white;
  font-size: 20px;
  width: 15%;
  padding: 10px;
  border-radius: 0;
  background-color: #3fd296;
  cursor: pointer;
}
.priceFont {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: transparent;
  border: 0;
  font-size: 24px;
}
.priceText {
  margin-left: 8px;
}
.input {
  height: 40px;
  width: 45px;
  font-size: 20px;
}

.priceContainer {
  display: flex;
  align-items: center;
}

@media (max-width: 876px) {
  .priceFont {
    font-size: 22px;
  }
  .font {
    font-size: 18px;
  }
}
@media (max-width: 745px) {
  .buyBtn {
    width: 30%;
  }
  .priceFont {
    font-size: 17px;
  }
  .trashIcon {
    width: 30px;
  }
}
@media (max-width: 617px) {
  .buyBtn {
    width: 45%;
  }
  .row {
    margin: 20px;
  }
  .priceText {
    margin-left: 0px;
  }
  .font {
    font-size: 14px;
  }
  .input {
    height: 30px;
    width: 30px;
    font-size: 14px;
  }
}
@media (max-width: 430px) {
  .trashIcon {
    width: 25px;
  }
  .font {
    font-size: 10px;
  }
  .priceFont {
    font-size: 12px;
  }
  .input {
    height: 24px;
    width: 24px;
    font-size: 12px;
  }
}
@media (max-width: 341px) {
  .priceFont {
    font-size: 9px;
  }
}
@media (max-width: 312px) {
  .font {
    font-size: 8px;
  }
}
