<div class="container-xl">
  <div class="row" *ngIf="cartProducts.length === 0">
    <div class="col-sm text-center mt-5">
      <p class="h1">Empty Cart</p>
      <button
        routerLink=""
        type="button"
        class="btn btn-danger mt-5"
        style="width: 200px; font-size: 20px"
      >
        Products
      </button>
    </div>
  </div>
  <div class="row" *ngFor="let products of cartProducts; index as i">
    <div class="col-sm"></div>
    <div class="col-sm-3 col-4">
      <a href="" [routerLink]="['/product/', products.product.id]">
        <img
          [src]="'http://localhost:8080/' + products.product.urlCover"
          class="img-fluid"
          alt=""
        />
      </a>
      <p></p>
    </div>
    <div class="col-sm-4 col-5 nameContainer">
      <p class="font truncate">{{ products.product.name }}</p>
      <p class="font">Size: {{ products.size.split("x")[1] }}</p>
      <div class="d-flex justify-content-center">
        <p class="priceFont">
          <button class="priceFont" (click)="decreaseQtd(i)">-</button>
          {{ products.qtd }}
          <button class="priceFont" (click)="increaseQtd(i)">+</button>
        </p>
        <p class="priceFont priceText" style="color: rgb(116, 116, 116)">
          R$ {{ products.product.price * products.qtd }}
        </p>
      </div>
    </div>
    <div
      class="col-sm-3 col-3 d-flex justify-content-center align-content-center"
    >
      <button
        type="button"
        class="btn mt-2 removeBtn text-center border-0"
        (click)="onRemove(i)"
      >
        <img src="assets/common/trash.png" class="img-fluid trashIcon" alt="" />
      </button>
    </div>
    <div class="col-sm"></div>
  </div>
  <div class="row" *ngIf="cartProducts.length !== 0">
    <div class="col text-center">
      <button type="button" class="btn mt-5 buyBtn" (click)="onBuy()">
        Buy
      </button>
    </div>
  </div>
</div>
<app-alert
      [message]="message"
      *ngIf="noUserAlert"
      (close)="closeNoUserAlert()"
    ></app-alert>
    <app-alert
      [message]="message"
      *ngIf="buyAlert"
      (close)="closeBuyAlert()"
    ></app-alert>
