span {
  padding: 0;
}
button {
  background-color: transparent;
  border: 0;
}


.iconUser{
  height: 50px;
}
.iconCart{
  height: 50px;
}
.iconLogout{
  height: 45px;
}
.logo {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 74px;
  letter-spacing: -4px;
  color: black;
  margin: 0;
}
.cartNumber {
  color: red;
  font-size: 22px;
}
.divCart {
  display: flex;
  justify-content: center;
  align-items: center;
}

.badge:after {
  content: attr(id);
  font-size: 16px;
  color: #ff0000;
  padding: 0 5px;
  position: relative;
  left: -15px;
  top: -13px;
}

@media (max-width: 800px) {
  .logo{
    font-size: 60px;
  }
  .iconUser{
    height: 40px;
  }
  .iconCart{
    height: 40px;
    padding-bottom: 1px;
  }
  .iconLogout{
    height: 35px;
  }
}

@media (max-width: 630px) {
  .logo {
    font-size: 50px;
  }
  .iconUser{
    height: 35px;
  }
  .iconCart{
    height: 35px;
    padding-bottom: 2px;
  }
  .iconLogout{
    height: 30px;
  }
  .badge:after{
    font-size: 14px;
  }
}

@media (max-width: 500px) {
  .logo {
    font-size: 44px;
  }
  .iconUser{
    height: 30px;
  }
  .iconCart{
    height: 30px;
    padding-bottom: 2px;
  }
  .iconLogout{
    height: 25px;
  }
  
  .badge:after{
    font-size: 12px;
    left: -12px;
    top: -11px;
  }
}
@media (max-width: 419px) {
  .logo {
    font-size: 36px;
  }
}
