span {
  padding: 0;
}
button {
  border: 0;
}
.headerContainer{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background-color: #ffffff;
  z-index: 1000; /* Certifique-se que o header está acima de outros elementos */
}
.cart-container {
  position: relative;
  display: inline-block;
}
.cart-counter {
  position:absolute;
  top: 20px;
  right: 14.5px;
  color: rgb(255, 0, 0);
  padding: 2px 6px;
  font-size: 16px;
  font-weight: bold;
}

.iconUser{
  height: 50px;
}
.iconCart{
  height: 52px;
  position:sticky
}
.iconLogout{
  height: 45px;
  background-color: transparent;
  cursor: pointer;
}
.logo {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
  letter-spacing: -4px;
  color: black;
  margin: 0;
}

.divCart {
  display: flex;
  justify-content: center;
  align-items: center;
}


@media (max-width: 800px) {
  .logo{
    font-size: 54px;
  }
  .iconUser{
    height: 40px;
  }
  .iconCart{
    height: 42px;
  }
  .iconLogout{
    height: 35px;
  }
  .cart-counter {
    font-size: 14px;
    top: 16px;
    right: 10px;
  }
}

@media (max-width: 630px) {
  .logo {
    font-size: 50px;
  }
  .iconUser{
    height: 35px;
  }
  .iconCart{
    height: 37px;
  }
  .iconLogout{
    height: 30px;
  }
  .cart-counter {
    font-size: 12px;
    top: 14px;
    right: 9px;
  }
}

@media (max-width: 500px) {
  .logo {
    font-size: 44px;
  }
  .iconUser{
    height: 30px;
  }
  .iconCart{
    height: 32px;
  }
  .iconLogout{
    height: 25px;
  }
  .cart-counter {
    font-size: 10px;
    top: 12px;
    right: 7px;
  }

}
@media (max-width: 419px) {
  .logo {
    font-size: 36px;
  }
}
