a {
  text-decoration: none;
}
.logo {
  font-family: "Nothing You Could Do", cursive;
  font-weight: 550;
  font-style: normal;
  font-size: 74px;
  letter-spacing: -6px;
  rotate: z -5deg;
  color: rgb(255, 255, 255);
  text-shadow: rgba(255, 255, 255, 0.315) 15px 25px;
}
.cartNumber {
  color: red;
  font-size: 22px;
}
.divCart{
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon{
  width: auto;
  height: 65px;
}
.badge:after{
  content:attr(id);
  font-size:14px;
  color: #ff0000;
  background: white;
  border-radius:50%;
  padding: 0 5px;
  position:relative;
  left:-20px;
  top:-20px;
}
@media (max-width: 1245px) {
  .logo {
    font-size: 54px;
    text-shadow: rgba(255, 255, 255, 0.315) 10px 20px;
  }
}
@media (max-width: 1015px) {
  .logo {
    font-size: 34px;
    text-shadow: rgba(255, 255, 255, 0.315) 8px 11px;
    letter-spacing: -4px;
  }
  .icon{
    height: 45px;
  }
  .badge:after{
    font-size: 10px;
    left:-17px;
    top:-15px;
  }
}

@media (max-width: 630px) {
  .logo {
    font-size: 30px;
    letter-spacing: -2px;
  }
}
@media (max-width: 565px) {
  .title {
    font-size: 18px;
  }
  .cartNumber{
    font-size: 14px;
  }
}
@media (max-width: 500px) {
  .cartNumber {
    font-size: 12px;
  }
}
@media (max-width: 415px) {
  .title {
    font-size: 14px;
  }
  .logo {
    font-size: 21px;
    text-shadow: rgba(255, 255, 255, 0.315) 4px 8px;
  }
  .cartNumber{
    font-size: 10px;
  }
}
