<div class="container-fluid bg-white">
  <div class="row">
    <div class="col-sm"></div>
    <div class="col-xl-1 col-sm-2 col text-center img">
      <a href="" [routerLink]="['/products/nike']">
        <img src="assets/common/logoNike.webp" class="img-fluid" alt="" />
      </a>
    </div>
    <div class="col-xl-1 col-sm-2 col text-center img">
      <a href="" [routerLink]="['/products/adidas']">
        <img src="assets/common/logoAdidas.webp" class="img-fluid" alt="" />
      </a>
    </div>
    <div class="col-xl-1 col-sm-2 col text-center img">
      <a href="" [routerLink]="['/products/vans']">
        <img src="assets/common/logoVans.webp" class="img-fluid" alt="" />
      </a>
    </div>
    <div class="col-xl-1 col-sm-2 col text-center img">
      <a href="" [routerLink]="['/products/ripndip']">
        <img src="assets/common/logoRipdip.webp" class="img-fluid" alt="" />
      </a>
    </div>
    <div class="col-xl-1 col-sm-2 col text-center img">
      <a href="" [routerLink]="['/products/primitive']">
        <img src="assets/common/logoPrimitive.webp" class="img-fluid" alt="" />
      </a>
    </div>
    <div class="col-sm"></div>
  </div>
</div>
