<div class="container-xxl teste">
  <app-nav-bar></app-nav-bar>
  <div *ngIf="isLoading" style="text-align: center; min-height: 75vh">
    <app-loading-spinner></app-loading-spinner>
  </div>
  <div *ngIf="!isLoading" class="card-group row">
    <div
      class="col-sm-4 col-xxl-3 col-6"
      *ngFor="let product of productsByBrand"
    >
      <a href="" class="decoration" [routerLink]="['/product/', product.id]">
        <div class="card border-0" style="height: 100%">
          <div class="imgCover">
            <img
              class="card-img-top"
              [src]="'http://localhost:8080/' + product.urlCover"
              alt="Card image cap"
            />
          </div>
          <div class="card-body text-center p-0">
            <p class="card-title h3">{{ product.name }}</p>
          </div>
          <hr class="m-0">
          <div class="card-footer text-center bg-transparent m-0 border-0">
            <p class="card-text priceFont m-0" style="color: black">
              R$ {{ product.price }}
            </p>
            <p class="m-0" style="color: rgb(116, 116, 116)">
              10 x R$ {{ product.price/10 }}
            </p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
