<div class="container-fluid bg-black mt-5 footer">
  <div class="row">
    <div class="col justify-content-center align-items-center d-flex p-4">
      <div class="gx-5">
          <a href="https://github.com/LeonamPrado"><img src="assets/common/instagramIcon.png" class="img-fluid icons mx-1" alt=""></a>
          <a href="https://github.com/LeonamPrado"><img src="assets/common/XIcon.png" class="img-fluid icons mx-1" alt=""></a>
          <a href="https://github.com/LeonamPrado"><img src="assets/common/facebookIcon.png"  class="img-fluid icons mx-1" alt=""></a>
          <a href="https://github.com/LeonamPrado"><img src="assets/common/emailIcon.png"  class="img-fluid icons mx-1" alt=""></a>
      </div>
    </div>
  </div>
</div>
