<div class="container-sm mt-5">
  <div class="row">
    <app-alert
      [message]="'Email or Password wrong'"
      *ngIf="loginError"
      (close)="closeAlert()"
    ></app-alert>
    <div class="col-md-4 col-3"></div>
    <div class="col mt-4">
      <form [formGroup]="loginForm" (ngSubmit)="handleLogin()">
        <div class="form-group mt-4">
          <label for="Email">Email address</label>
          <input
            formControlName="email"
            type="email"
            class="form-control"
            id="Email"
            aria-describedby="email"
            placeholder="Enter email"
            [ngClass]="
              (loginForm.get('email').touched ||
                loginForm.get('email').dirty) &&
              loginForm.get('email').errors
                ? 'is-invalid'
                : ''
            "
          />
          <div class="invalid-feedback">Email is required</div>
        </div>
        <div class="form-group mt-4">
          <label for="Password">Password</label>
          <input
            formControlName="password"
            type="password"
            class="form-control"
            id="Password"
            placeholder="Password"
            [ngClass]="
              (loginForm.get('password').touched ||
                loginForm.get('password').dirty) &&
              loginForm.get('password').errors
                ? 'is-invalid'
                : ''
            "
          />
          <div class="invalid-feedback">Password is required</div>
          <a href="" routerLink="/register"
            ><small class="form-text">Create an account</small></a
          >
        </div>
        <div class="form-group mt-4 text-center">
          <button
            [ngClass]="
              loginForm.get('password').errors || loginForm.get('email').errors
                ? 'disabled'
                : ''
            "
            type="submit"
            class="btn btn-danger"
          >
            Login
          </button>
        </div>
      </form>
    </div>
    <div class="col-md-4 col-3"></div>
  </div>
</div>
