.truckIcon{
  height: 35px;
  margin-bottom: 8px;
}
.blackBanner{
  margin-top: 110px;
  font-size: 20px;
}
.productsTitle{
  font-size: 46px;
  font-weight: bold;
  margin-top: 80px;
}
.carousel-inner {
  width: 100%;
  max-height: 700px; /* Defina a altura máxima desejada */
}
.line-text {
  display: flex;
  align-items: center;
  text-align: center;
  color: #666;
  font-size: 36px;
}
.line-text::before,
.line-text::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #ccc;
  margin: 0 10px;
}
.imgCover {
  transition: transform 0.5s;
}
.imgCover:hover {
  transform: scale(1.25);
}
.decoration {
  color: inherit;
  text-decoration: inherit;
}
.priceFont {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
}
.card-title {
  font-size: 22px;
}
@media (max-width: 800px) {
  .productsTitle{
    font-size: 36px;
    margin-top: 65px;
  }
  .line-text{
    font-size: 26px;
  }
  .blackBanner{
    margin-top: 100px;
    font-size: 16px;
  }
  .truckIcon{
    height: 25px;
  }
}
@media (max-width: 630px) {
  .card-title {
    font-size: 16px;
  }
  .blackBanner{
    margin-top: 90px;
    font-size: 14px;
  }
  .productsTitle{
    font-size: 28px;
    margin-top: 45px;
  }
  .line-text{
    font-size: 20px;
  }
}
@media (max-width: 450px){
  .blackBanner{
    margin-top: 80px;
    font-size: 14px;
  }
  .productsTitle{
    font-size: 20px;
    margin-top: 45px;
  }
  .line-text{
    font-size: 16px;
  }
}
@media (max-width: 324px) {
  .card-title {
    font-size: 12px;
  }
}
